<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<body>
    <section class="publico" id="publico">
        <div class="container">
            <h2 class="titulo">
                Bienvenidos al programa de pasantías que ofrece la Universidad Politécnica Salesiana
            </h2>
        </div>
    </section>
    
    <section class="dis-sto">
        <div class="container">
            <div class="res-info">
                <div>
                    <div class="global">
                        <h1 class="head contenido">Breve Descripcion sobre las pasantias</h1>
                    </div>
                    <p>                    
                        La Universidad Politécnica Salesiana (UPS) es reconocida por su excelencia académica y su 
                        compromiso con la formación integral de sus estudiantes. En su sede ubicada en la ciudad de 
                        Quito, Ecuador, la UPS ofrece una amplia variedad de programas de pasantías que brindan a los 
                        estudiantes la oportunidad de complementar su formación académica con experiencias prácticas 
                        en el campo profesional.
                        Las pasantías en la UPS están diseñadas para permitir a los estudiantes aplicar los 
                        conocimientos teóricos adquiridos en las aulas en situaciones del mundo real. Con el apoyo de 
                        un equipo docente altamente calificado y la colaboración de reconocidas empresas e 
                        instituciones, los estudiantes tienen la oportunidad de desarrollar habilidades prácticas,
                        adquirir experiencia laboral relevante y establecer contactos importantes en la industria.
                        Las pasantías disponibles abarcan diversas áreas de estudio, desde ingeniería y tecnología 
                        hasta ciencias sociales, ciencias de la salud, negocios, y más. Los estudiantes pueden 
                        encontrar pasantías que se alineen con sus intereses y aspiraciones profesionales, lo que les 
                        permitirá explorar diferentes campos y definir mejor su futura carrera.
                        La universidad se esfuerza por asegurar que las pasantías cumplan con altos estándares de 
                        calidad y ofrecen una experiencia enriquecedora. Además, el programa de pasantías está 
                        diseñado para fomentar el desarrollo personal y profesional de los estudiantes, alentándolos 
                        a asumir responsabilidades, trabajar en equipo, mejorar sus habilidades de comunicación y 
                        enfrentar desafíos con confianza.
                        Los convenios y alianzas establecidas entre la UPS y empresas del sector público y privado 
                        en Quito y sus alrededores ofrecen una amplia gama de oportunidades de pasantías en diversos 
                        entornos laborales, desde pequeñas empresas locales hasta corporaciones internacionales.
                    </p>
                    <div class="global">
                        <h1 class="head contenido">Descubre las pasantias que ofrecemos</h1>
                    </div>
                    <br>
                    <p>
                        "¡Descubre tu camino hacia el éxito con nuestras emocionantes pasantías en la Universidad 
                        Politécnica Salesiana! Nuestro programa de pasantías brinda a los estudiantes la oportunidad de 
                        fusionar su aprendizaje académico con experiencias prácticas en el mundo real. Con el respaldo de expertos 
                        en la industria y un plan de estudios integral, nuestras pasantías están diseñadas para que los estudiantes
                        adquieran habilidades valiosas y se destaquen en el mercado laboral.
                        Ya sea que estés interesado en tecnología, ingeniería, ciencias sociales, negocios u otras áreas, 
                        nuestras pasantías ofrecen una amplia variedad de oportunidades para que puedas descubrir tus fortalezas 
                        y desarrollar tus talentos. Trabajarás junto a profesionales apasionados y adquirirás experiencia práctica
                        que complementará tus conocimientos teóricos.
                        Para obtener más información sobre nuestras pasantías únete a nuestro grupo de Whatsapp o de Telegram:
                        <a href=""><i class="fab fa-whatsapp fa-2x"></i></a>&nbsp;<a href=""><i class="fab fa-telegram fa-2x"></i></a>
                    </p>
                    <div class="container">
                        <div class="galeria-port">
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia1.jpg" alt="pasantia1"> 
                                <a href=""> 
                                <div class="pasantias">
                                    <p class="porta">Pasantia 1</p> 
                                </div>
                                </a>
                            </div>
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia2.jpg" alt="pasantia2">
                                 <a href=""> 
                                <div class="pasantias">                           
                                    <p class="porta">Pasantia 2</p>
                                </div>
                                </a>
                            </div>
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia3.jpg" alt="pasantia3">
                                <a href=""> 
                                <div class="pasantias">
                                    <p class="porta">Pasantia 3</p>
                                </div>
                                </a>
                            </div>
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia4.jpg" alt="pasantia4">
                                <a href=""> 
                                <div class="pasantias">   
                                    <p class="porta">Pasantia 4</p>    
                                </div>
                                </a>
                            </div>
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia5.jpg" alt="pasantia5">
                                <a href=""> 
                                <div class="pasantias">
                                    <p class="porta">Pasantia 5</p>
                                </div>
                                </a>
                            </div>
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia6.jpg" alt="pasantia6">
                                <a href=""> 
                                <div class="pasantias">
                                    <p class="porta">Pasantia 6</p>
                                </div>
                                </a>
                            </div>
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia7.jpg" alt="pasantia7">
                                <a href=""> 
                                <div class="pasantias">
                                    <p class="porta">Pasantia 7</p>
                                </div>
                                </a>
                            </div>
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia8.jpg" alt="pasantia8">
                                <a href=""> 
                                <div class="pasantias">
                                    <p class="porta">Pasantia 8</p>
                                </div>
                                </a>
                            </div>
                            <div class="imagen-port">
                                <img src="assets/imagenes_pasantias/pasantia9.jpg" alt="pasantia9">
                                <a href=""> 
                                <div class="pasantias">
                                    <p class="contenido_pasante">Pasantia 9</p>
                                </div>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container"> 
            <div class="footer-content">
                <div>
                    <h4 class="final">Siguenos en nuestras redes sociales</h4>
                    <div class="social">
                        <ul class="social">
                          <li><a href="https://www.facebook.com/UPSalesianaEc"><i class="fab fa-facebook fa-2x"></i></a></li>
                          <li><a href="https://www.instagram.com/upsalesianaec"><i class="fab fa-instagram fa-2x"></i></a></li>
                          <li><a href="https://twitter.com/upssalesiana"><i class="fab fa-twitter fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h5 class="final">Nos encontramos ubicados:</h5>
                <h5 class="final">Campus Norte: Av. Isabel La Católica y Madrid</h5>
                <h5 class="final">Campus Sur: Av. Morán Valverde y Rumichaca Ñan</h5>
                <a href="https://www.google.com/maps/d/u/0/edit?mid=15C5bj5iXJNcoAg6SJQmcVor_RD7Yb3w&usp=sharing" class="btn">Ver ubicación</a>
                <br>
                <br>
                <br>            
                <h2 class="final">Todos los derechos reservados Christian Naranjo y Alexander Rengifo © 2023 Pasantias</h2>
            </div>
        </div>
    </footer>
</body>
