<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<section class="info" id="info">
    <div class="container">
        <h2 class="titulo">
            Integrantes del grupo
        </h2>
        <br><br>
        <div class="subtitulo">
            <h5>Christian Naranjo</h5>
            <br>
            <div class="image-container">
                <img src="assets/images/chris.jpg" alt="Christian" class="small-image">
            </div>
            <br>
            <p>
                Mi nombre es Christian Naranjo, tengo 20 años, actualmente estoy estudiando la carrera 
			    de Ciencias de la Computación en la Universidad Politécnica Salesiana.
                Me apasiona mucho todo lo relacionado sobre la tecnología, además el futbol y los videojuegos.
                Tengo experiencia en realizar ensayos, informes, programación en Java, C++ y análisis.
                Me gradué en la Unidad Educativa Pedro Pablo Borja N°1 de Bachiller en Ciencias.
                Mis valores son el respeto, la honestidad, y la responsabilidad ante todo.
                Si deseas contactarme aqui te dejo mis redes sociales:
            </p>
            <div class="social">
                <ul>
                  <li><a href="https://wa.me/593983979070"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                  <li><a href="https://www.facebook.com/kitu.naranjo"><i class="fab fa-facebook fa-2x"></i></a></li>
                  <li><a href="https://www.instagram.com/kitu.naranjo"><i class="fab fa-instagram fa-2x"></i></a></li>
                  <li><a href="https://twitter.com/kitunaranjo"><i class="fab fa-twitter fa-2x"></i></a></li>
                  <li><a href="https://github.com/KituNaranjo"><i class="fab fa-github fa-2x"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/christian-naranjo-222656168/"><i class="fab fa-linkedin fa-2x"></i></a></li>
                </ul>
            </div>
            <h5>Alexander Rengifo</h5>
            <br>
            <div class="image-container">
                <img src="assets/images/rengifo.jpg" alt="Alexander" class="small-image">
            </div>
            <br>
            <p>
                Me llamo Alexander Rengifo estudio la carrera de Ciencias de la Computación en la Universidad Politécnica Salesiana.
                Me gusta mucho los videojuegos y la programación
                Si deseas contactarme aqui te dejo mis whatsapp:
            </p>
            <div class="social">
                <ul>
                  <li><a href="https://wa.me/593986406988"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
        <footer>
            <div class="container"> 
                <div class="footer-content">
                    <div>
                        <h4 class="final">Siguenos en nuestras redes sociales</h4>
                        <div class="social">
                            <ul class="social">
                              <li><a href="https://www.facebook.com/UPSalesianaEc"><i class="fab fa-facebook fa-2x"></i></a></li>
                              <li><a href="https://www.instagram.com/upsalesianaec"><i class="fab fa-instagram fa-2x"></i></a></li>
                              <li><a href="https://twitter.com/upssalesiana"><i class="fab fa-twitter fa-2x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="final">Nos encontramos ubicados:</h5>
                    <h5 class="final">Campus Norte: Av. Isabel La Católica y Madrid</h5>
                    <h5 class="final">Campus Sur: Av. Morán Valverde y Rumichaca Ñan</h5>
                    <a href="https://www.google.com/maps/d/u/0/edit?mid=15C5bj5iXJNcoAg6SJQmcVor_RD7Yb3w&usp=sharing" class="btn">Ver ubicación</a>
                    <br>
                    <br>
                    <br>            
                    <h2 class="final">Todos los derechos reservados Christian Naranjo y Alexander Rengifo © 2023 Pasantias</h2>
                </div>
            </div>
        </footer>
    </div>
</section>